.centralizar {
  width: 100%;
  padding: 0 !important;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .centralizar {
    max-width: 350px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .centralizar {
    max-width: 760px;
  }
}
@media only screen and (min-width: 1024px) {
  .centralizar {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
.pure-pad-5 {
  padding: 5px;
}
.pure-pad-10 {
  padding: 10px;
}
.pure-pad-15 {
  padding: 15px;
}
.pure-pad-20 {
  padding: 20px;
}
.pure-pad-25 {
  padding: 25px;
}
.pure-pad-30 {
  padding: 30px;
}
.pure-pad-35 {
  padding: 35px;
}
.pure-pad-40 {
  padding: 40px;
}
.pure-pad-t-5 {
  padding-top: 5px;
}
.pure-pad-t-10 {
  padding-top: 10px;
}
.pure-pad-t-15 {
  padding-top: 15px;
}
.pure-pad-t-20 {
  padding-top: 20px;
}
.pure-pad-t-25 {
  padding-top: 25px;
}
.pure-pad-t-30 {
  padding-top: 30px;
}
.pure-pad-t-35 {
  padding-top: 35px;
}
.pure-pad-t-40 {
  padding-top: 40px;
}
.pure-pad-r-5 {
  padding-right: 5px;
}
.pure-pad-r-10 {
  padding-right: 10px;
}
.pure-pad-r-15 {
  padding-right: 15px;
}
.pure-pad-r-20 {
  padding-right: 20px;
}
.pure-pad-r-25 {
  padding-right: 25px;
}
.pure-pad-r-30 {
  padding-right: 30px;
}
.pure-pad-r-35 {
  padding-right: 35px;
}
.pure-pad-r-40 {
  padding-right: 40px;
}
.pure-pad-b-5 {
  padding-bottom: 5px;
}
.pure-pad-b-10 {
  padding-bottom: 10px;
}
.pure-pad-b-15 {
  padding-bottom: 15px;
}
.pure-pad-b-20 {
  padding-bottom: 20px;
}
.pure-pad-b-25 {
  padding-bottom: 25px;
}
.pure-pad-b-30 {
  padding-bottom: 30px;
}
.pure-pad-b-35 {
  padding-bottom: 35px;
}
.pure-pad-b-40 {
  padding-bottom: 40px;
}
.pure-pad-l-5 {
  padding-left: 5px;
}
.pure-pad-l-10 {
  padding-left: 10px;
}
.pure-pad-l-15 {
  padding-left: 15px;
}
.pure-pad-l-20 {
  padding-left: 20px;
}
.pure-pad-l-25 {
  padding-left: 25px;
}
.pure-pad-l-30 {
  padding-left: 30px;
}
.pure-pad-l-35 {
  padding-left: 35px;
}
.pure-pad-l-40 {
  padding-left: 40px;
}
h1#pagenotfound {
  text-align: center;
  display: block;
  margin: 100px 0;
  padding: 40px 0;
  color: #0b0b0b;
  font-family: 'pacificoregular', sans-serif;
  font-size: 30px;
  font-weight: normal;
}
html body {
  background: url('../images/layout/background.jpg');
  position: relative;
}
html body .nuvem {
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .nuvem {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .nuvem {
    display: none !important;
  }
}
html body .nuvem.nuvem-1 {
  top: 60px;
  left: 4px;
  width: 269px;
  height: 76px;
  background: url('../images/layout/cloud1.png') center center no-repeat;
  -webkit-animation: transladarNuvem1 48s 0.2s infinite linear;
  -moz-animation: transladarNuvem1 48s 0.2s infinite linear;
  -o-animation: transladarNuvem1 48s 0.2s infinite linear;
  animation: transladarNuvem1 48s 0.2s infinite linear;
}
html body .nuvem.nuvem-2 {
  top: 570px;
  left: 95px;
  width: 269px;
  height: 76px;
  background: url('../images/layout/cloud1.png') center center no-repeat;
  -webkit-animation: transladarNuvem2 25s 0.1s infinite linear;
  -moz-animation: transladarNuvem2 25s 0.1s infinite linear;
  -o-animation: transladarNuvem2 25s 0.1s infinite linear;
  animation: transladarNuvem2 25s 0.1s infinite linear;
}
html body .nuvem.nuvem-3 {
  top: 160px;
  right: 4px;
  width: 212px;
  height: 68px;
  background: url('../images/layout/cloud2.png') center center no-repeat;
  -webkit-animation: transladarNuvem3 29s infinite linear;
  -moz-animation: transladarNuvem3 29s infinite linear;
  -o-animation: transladarNuvem3 29s infinite linear;
  animation: transladarNuvem3 29s infinite linear;
}
html body .nuvem.nuvem-4 {
  top: 500px;
  right: 450px;
  width: 212px;
  height: 68px;
  background: url('../images/layout/cloud2.png') center center no-repeat;
  -webkit-animation: transladarNuvem4 40s 0.3s infinite linear;
  -moz-animation: transladarNuvem4 40s 0.3s infinite linear;
  -o-animation: transladarNuvem4 40s 0.3s infinite linear;
  animation: transladarNuvem4 40s 0.3s infinite linear;
}
html body #home-desktop {
  height: 840px;
  position: relative;
  overflow: hidden;
}
html body #home-desktop .centralizar {
  position: relative;
}
html body #home-desktop .centralizar .links-social {
  top: 5px;
  left: 5px;
  position: absolute;
  font-size: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body #home-desktop .centralizar .links-social a {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #home-desktop .centralizar #navegacao-desktop {
  position: absolute;
  width: 100%;
  z-index: 99999999;
}
html body #home-desktop .centralizar #navegacao-desktop li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  padding-left: 30px;
  overflow: hidden;
  background: url('../images/layout/over.png') -45px 3px no-repeat;
}
html body #home-desktop .centralizar #navegacao-desktop li:hover {
  background: url('../images/layout/over.png') 3px 3px no-repeat;
}
html body #home-desktop .centralizar #navegacao-desktop li a {
  display: block;
  line-height: 140%;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  color: #e3c36b;
  font-family: 'pacificoregular', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #home-desktop .centralizar #navegacao-desktop li a:active,
html body #home-desktop .centralizar #navegacao-desktop li a:visited {
  color: #e3c36b;
}
html body #home-desktop .centralizar #navegacao-desktop li a:hover {
  color: #0b0b0b;
}
html body #home-desktop .centralizar #navegacao-desktop li#li-home {
  top: 35px;
  left: 588px;
}
html body #home-desktop .centralizar #navegacao-desktop li#li-festas {
  top: 155px;
  left: 76px;
}
html body #home-desktop .centralizar #navegacao-desktop li#li-locacao {
  top: 240px;
  left: 40px;
}
html body #home-desktop .centralizar #navegacao-desktop li#li-enxoval {
  top: 210px;
  left: 710px;
}
html body #home-desktop .centralizar #navegacao-desktop li#li-roupinhas {
  top: 285px;
  left: 755px;
}
html body #home-desktop .centralizar #navegacao-desktop li#li-empresa {
  top: 610px;
  left: 690px;
}
html body #home-desktop .centralizar #navegacao-desktop li#li-contato {
  top: 655px;
  left: 760px;
}
html body #home-desktop .centralizar #mensagem-home {
  padding-top: 265px;
  height: 600px;
  text-align: center;
  background: url('../images/layout/mundo1.png') center center no-repeat;
  z-index: 999;
  position: relative;
}
html body #home-desktop .centralizar #mensagem-home img {
  display: block;
  margin: 0 auto 70px auto;
}
html body #home-desktop .centralizar #mensagem-home p {
  text-align: center;
  color: #0b0b0b;
  line-height: 160%;
  font-family: 'pacificoregular', sans-serif;
  font-size: 19px;
  font-weight: normal;
}
html body #home-desktop .centralizar #mensagem-home-back {
  padding-top: 265px;
  height: 600px;
  text-align: center;
  background: url('../images/layout/mundo2.png') center center no-repeat;
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: rotacionar 40s infinite linear;
  -moz-animation: rotacionar 40s infinite linear;
  -o-animation: rotacionar 40s infinite linear;
  animation: rotacionar 40s infinite linear;
}
html body .template .pure-u-md-1-3 {
  position: relative;
}
html body .template .pure-u-md-1-3 .links-social {
  padding: 10px;
  font-size: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .template .pure-u-md-1-3 .links-social a {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .template .pure-u-md-1-3 .btn-abrir-menu {
  margin-right: 30px;
  padding-left: 30px;
  float: right;
  color: #e3c36b;
  text-decoration: none;
  margin-top: 0px;
  background: url('../images/layout/over.png') 2px 10px no-repeat;
  font-family: 'pacificoregular', sans-serif;
  font-size: 35px;
  font-weight: normal;
}
html body .template .pure-u-md-1-3 .btn-abrir-menu:active,
html body .template .pure-u-md-1-3 .btn-abrir-menu:visited {
  color: #e3c36b;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .template .pure-u-md-1-3 nav {
    display: block;
    width: 100%;
  }
  html body .template .pure-u-md-1-3 nav ul {
    padding: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body .template .pure-u-md-1-3 nav ul.aberto {
    height: auto;
    padding: 15px 0;
  }
  html body .template .pure-u-md-1-3 nav ul.aberto li a {
    padding: 12px 0;
  }
  html body .template .pure-u-md-1-3 nav ul li a {
    display: block;
    padding: 0;
    text-align: center;
    color: #e3c36b;
    background: #fff;
    border: 1px #e3c36b solid;
    text-decoration: none;
    font-family: 'pacificoregular', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  html body .template .pure-u-md-1-3 nav ul li a span {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding-left: 30px;
    overflow: hidden;
    background: url('../images/layout/over.png') -40px 2px no-repeat;
  }
  html body .template .pure-u-md-1-3 nav ul li a:hover span,
  html body .template .pure-u-md-1-3 nav ul li a.ativo span {
    background: url('../images/layout/over.png') left 2px no-repeat;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .template .pure-u-md-1-3 nav {
    display: block;
    width: 100%;
  }
  html body .template .pure-u-md-1-3 nav ul {
    padding: 30px 0;
  }
  html body .template .pure-u-md-1-3 nav ul li a {
    display: block;
    padding: 12px 0;
    text-align: center;
    color: #e3c36b;
    text-decoration: none;
    font-family: 'pacificoregular', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  html body .template .pure-u-md-1-3 nav ul li a span {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding-left: 30px;
    overflow: hidden;
    background: url('../images/layout/over.png') -40px 2px no-repeat;
  }
  html body .template .pure-u-md-1-3 nav ul li a:hover span,
  html body .template .pure-u-md-1-3 nav ul li a.ativo span {
    background: url('../images/layout/over.png') left 2px no-repeat;
  }
}
@media only screen and (min-width: 1024px) {
  html body .template .pure-u-md-1-3 nav {
    display: block;
    width: 100%;
  }
  html body .template .pure-u-md-1-3 nav ul {
    padding: 30px 0;
  }
  html body .template .pure-u-md-1-3 nav ul li a {
    display: block;
    padding: 12px 0;
    text-align: center;
    color: #e3c36b;
    text-decoration: none;
    font-family: 'pacificoregular', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  html body .template .pure-u-md-1-3 nav ul li a span {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding-left: 30px;
    overflow: hidden;
    background: url('../images/layout/over.png') -40px 2px no-repeat;
  }
  html body .template .pure-u-md-1-3 nav ul li a:hover span,
  html body .template .pure-u-md-1-3 nav ul li a.ativo span {
    background: url('../images/layout/over.png') left 2px no-repeat;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .template .pure-u-md-2-3 section {
    padding: 30px 0;
  }
  html body .template .pure-u-md-2-3 section img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }
  html body .template .pure-u-md-2-3 section p {
    text-align: center;
    color: #0b0b0b;
    line-height: 140%;
    margin: 20px 0;
    font-family: 'pacificoregular', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  html body .template .pure-u-md-2-3 section .ilustracao {
    margin: 20px 20px;
  }
  html body .template .pure-u-md-2-3 section .ilustracao img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .template .pure-u-md-2-3 section {
    padding: 30px 0;
  }
  html body .template .pure-u-md-2-3 section img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }
  html body .template .pure-u-md-2-3 section p {
    text-align: center;
    color: #0b0b0b;
    line-height: 140%;
    margin: 20px 0;
    font-family: 'pacificoregular', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  html body .template .pure-u-md-2-3 section .ilustracao {
    margin: 20px 0;
  }
  html body .template .pure-u-md-2-3 section .ilustracao img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  html body .template .pure-u-md-2-3 section {
    padding: 30px 0;
  }
  html body .template .pure-u-md-2-3 section img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }
  html body .template .pure-u-md-2-3 section p {
    text-align: center;
    color: #0b0b0b;
    line-height: 140%;
    margin: 20px 0;
    font-family: 'pacificoregular', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  html body .template .pure-u-md-2-3 section .ilustracao {
    margin: 20px 0;
  }
  html body .template .pure-u-md-2-3 section .ilustracao img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
html body .template .pure-u-md-2-3 section .listaImagens {
  min-height: 380px;
  font-size: 0;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .template .pure-u-md-2-3 section .listaImagens {
    padding: 20px 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .template .pure-u-md-2-3 section .listaImagens {
    padding: 30px 0;
  }
}
@media only screen and (min-width: 1024px) {
  html body .template .pure-u-md-2-3 section .listaImagens {
    padding: 40px 0;
  }
}
html body .template .pure-u-md-2-3 section .listaImagens a.thumb {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 94px;
  height: 94px;
  margin: 3px;
}
html body .template .pure-u-md-2-3 section .listaImagens a.thumb .pure-border {
  border: 2px #e3c36b solid;
}
html body .template .pure-u-md-2-3 section .listaImagens a.thumb .pure-border img {
  max-width: 90px;
  max-height: 90px;
  margin: 0;
}
html body .template .pure-u-md-2-3 section ul.pagination {
  text-align: center;
  margin: 15px 0;
}
html body .template .pure-u-md-2-3 section ul.pagination li {
  min-width: 20px;
  min-height: 20px;
  line-height: 17px;
  text-align: center;
  color: #0b0b0b;
  margin: 0 2px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  font-family: 'pacificoregular', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
html body .template .pure-u-md-2-3 section ul.pagination li.disabled {
  display: none;
}
html body .template .pure-u-md-2-3 section ul.pagination li.active {
  background: #e3c36b;
}
html body .template .pure-u-md-2-3 section ul.pagination li a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  display: block;
  min-width: 20px;
  min-height: 20px;
  line-height: 17px;
  text-decoration: none;
  color: #0b0b0b;
  background: transparent;
}
html body .template .pure-u-md-2-3 section ul.pagination li a:active,
html body .template .pure-u-md-2-3 section ul.pagination li a:visited {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section ul.pagination li a:hover {
  background: #e3c36b;
}
html body .template .pure-u-md-2-3 section ul.pagination li a .force-laranja {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #e3c36b;
}
html body .template .pure-u-md-2-3 section ul.pagination li a .force-laranja:hover {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section .textoEmpresa {
  padding: 30px 0;
  min-height: 380px;
}
html body .template .pure-u-md-2-3 section form {
  margin: 0 auto;
  min-height: 380px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .template .pure-u-md-2-3 section form {
    width: 98%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .template .pure-u-md-2-3 section form {
    width: 68%;
  }
}
@media only screen and (min-width: 1024px) {
  html body .template .pure-u-md-2-3 section form {
    width: 50%;
  }
}
html body .template .pure-u-md-2-3 section form .success {
  color: #0b0b0b;
  display: block;
  text-align: center;
  padding: 10px;
  background: #dff0d8;
  margin-bottom: 10px;
  border: 1px #0b0b0b solid;
  font-family: 'Calibri', 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body .template .pure-u-md-2-3 section form input[type="text"],
html body .template .pure-u-md-2-3 section form input[type="email"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 2px #0b0b0b solid;
  padding: 1px 10px;
  margin: 0 0 5px 0;
  line-height: 184%;
  color: #0b0b0b;
  background: transparent;
  font-family: 'pacificoregular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body .template .pure-u-md-2-3 section form input[type="text"]::-webkit-input-placeholder,
html body .template .pure-u-md-2-3 section form input[type="email"]::-webkit-input-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form input[type="text"]:-moz-placeholder,
html body .template .pure-u-md-2-3 section form input[type="email"]:-moz-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form input[type="text"]::-moz-placeholder,
html body .template .pure-u-md-2-3 section form input[type="email"]::-moz-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form input[type="text"]:-ms-input-placeholder,
html body .template .pure-u-md-2-3 section form input[type="email"]:-ms-input-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 2px #0b0b0b solid;
  padding: 1px 10px;
  margin: 0 0 5px 0;
  line-height: 150%;
  color: #0b0b0b;
  background: transparent;
  resize: none;
  overflow: auto;
  height: 110px;
  font-family: 'pacificoregular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body .template .pure-u-md-2-3 section form textarea::-webkit-input-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form textarea:-moz-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form textarea::-moz-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form textarea:-ms-input-placeholder {
  color: #0b0b0b;
}
html body .template .pure-u-md-2-3 section form input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: 2px #0b0b0b solid;
  display: block;
  text-align: center;
  color: #0b0b0b;
  background: #e3c36b;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  font-family: 'pacificoregular', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .template .pure-u-md-2-3 section .telefone {
  text-align: center;
  color: #0b0b0b;
  line-height: 140%;
  margin: 20px 0;
  font-family: 'pacificoregular', sans-serif;
  font-size: 22px;
  font-weight: normal;
}
html body #mundo-footer {
  display: block;
  width: 100%;
  height: 278px;
  margin-top: -40px;
  background: url('../images/layout/cidade.png') center bottom no-repeat;
}
html body #mundo-footer + footer {
  margin-top: 0;
}
html body footer {
  position: relative;
  margin-top: 40px;
  min-height: 65px;
  padding: 15px 0;
  background: #0b0b0b;
  color: #fff;
  line-height: 130%;
  font-family: 'Calibri', 'Verdana', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body footer .pure-u-1 {
    padding: 5px 10px;
    box-sizing: border-box;
  }
}
html body footer .endereco {
  margin-top: 10px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  
}
@media only screen and (min-width: 1024px) {
  html body footer .link {
    text-align: right;
  }
}
html body footer .link a {
  line-height: 110%;
  font-family: 'Calibri', 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer .link a:active,
html body footer .link a:visited {
  color: #fff;
}
html body footer .link a:hover {
  color: #e3c36b;
}
html body footer .link a img {
  margin-top: 3px;
}
@-webkit-keyframes rotacionar {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotacionar {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotacionar {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotacionar {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes transladarNuvem1 {
  0% {
    left: 4px;
  }
  50% {
    left: 600px;
  }
  100% {
    left: 4px;
  }
}
@-moz-keyframes transladarNuvem1 {
  0% {
    left: 4px;
  }
  50% {
    left: 600px;
  }
  100% {
    left: 4px;
  }
}
@-o-keyframes transladarNuvem1 {
  0% {
    left: 4px;
  }
  50% {
    left: 600px;
  }
  100% {
    left: 4px;
  }
}
@keyframes transladarNuvem1 {
  0% {
    left: 4px;
  }
  50% {
    left: 600px;
  }
  100% {
    left: 4px;
  }
}
@-webkit-keyframes transladarNuvem2 {
  0% {
    left: 95px;
  }
  50% {
    left: 450px;
  }
  100% {
    left: 95px;
  }
}
@-moz-keyframes transladarNuvem2 {
  0% {
    left: 95px;
  }
  50% {
    left: 450px;
  }
  100% {
    left: 95px;
  }
}
@-o-keyframes transladarNuvem2 {
  0% {
    left: 95px;
  }
  50% {
    left: 450px;
  }
  100% {
    left: 95px;
  }
}
@keyframes transladarNuvem2 {
  0% {
    left: 95px;
  }
  50% {
    left: 450px;
  }
  100% {
    left: 95px;
  }
}
@-webkit-keyframes transladarNuvem3 {
  0% {
    right: 4px;
  }
  50% {
    right: 600px;
  }
  100% {
    right: 4px;
  }
}
@-moz-keyframes transladarNuvem3 {
  0% {
    right: 4px;
  }
  50% {
    right: 600px;
  }
  100% {
    right: 4px;
  }
}
@-o-keyframes transladarNuvem3 {
  0% {
    right: 4px;
  }
  50% {
    right: 600px;
  }
  100% {
    right: 4px;
  }
}
@keyframes transladarNuvem3 {
  0% {
    right: 4px;
  }
  50% {
    right: 600px;
  }
  100% {
    right: 4px;
  }
}
@-webkit-keyframes transladarNuvem4 {
  0% {
    right: 450px;
  }
  10% {
    right: 600px;
  }
  80% {
    right: 200px;
  }
  100% {
    right: 450px;
  }
}
@-moz-keyframes transladarNuvem4 {
  0% {
    right: 450px;
  }
  10% {
    right: 600px;
  }
  80% {
    right: 200px;
  }
  100% {
    right: 450px;
  }
}
@-o-keyframes transladarNuvem4 {
  0% {
    right: 450px;
  }
  10% {
    right: 600px;
  }
  80% {
    right: 200px;
  }
  100% {
    right: 450px;
  }
}
@keyframes transladarNuvem4 {
  0% {
    right: 450px;
  }
  10% {
    right: 600px;
  }
  80% {
    right: 200px;
  }
  100% {
    right: 4px;
  }
}
