@import 'vars.less';

h1#pagenotfound{
	text-align: center;
	display: block;
	margin:100px 0;
	padding:40px 0;
	color:@preto;
	.pacifico(30px);	
}

html{
	body{
		background:url('../images/layout/background.jpg');
		position: relative;
		//background:pink;
		.nuvem{
			.hide-mobile;
			.hide-tablet;
			position:absolute;
			z-index:-1;
			.transition;
			&.nuvem-1{
				top:60px;
				left:4px;
				width:269px;
				height: 76px;
				background:url('../images/layout/cloud1.png') center center no-repeat;
				-webkit-animation: transladarNuvem1 48s 0.2s infinite linear;
				-moz-animation: transladarNuvem1 48s 0.2s infinite linear;
				-o-animation: transladarNuvem1 48s 0.2s infinite linear;
				animation: transladarNuvem1 48s 0.2s infinite linear;
			}
			&.nuvem-2{
				top:570px;
				left:95px;
				width:269px;
				height: 76px;
				background:url('../images/layout/cloud1.png') center center no-repeat;
				-webkit-animation: transladarNuvem2 25s 0.1s infinite linear;
				-moz-animation: transladarNuvem2 25s 0.1s infinite linear;
				-o-animation: transladarNuvem2 25s 0.1s infinite linear;
				animation: transladarNuvem2 25s 0.1s infinite linear;
			}
			&.nuvem-3{
				top:160px;
				right:4px;
				width:212px;
				height: 68px;
				background:url('../images/layout/cloud2.png') center center no-repeat;
				-webkit-animation: transladarNuvem3 29s infinite linear;
				-moz-animation: transladarNuvem3 29s infinite linear;
				-o-animation: transladarNuvem3 29s infinite linear;
				animation: transladarNuvem3 29s infinite linear;
			}
			&.nuvem-4{
				top:500px;
				right:450px;
				width:212px;
				height: 68px;
				background:url('../images/layout/cloud2.png') center center no-repeat;
				-webkit-animation: transladarNuvem4 40s 0.3s infinite linear;
				-moz-animation: transladarNuvem4 40s 0.3s infinite linear;
				-o-animation: transladarNuvem4 40s 0.3s infinite linear;
				animation: transladarNuvem4 40s 0.3s infinite linear;
			}
			&.nuvem-5{}
			&.nuvem-6{}
		}
		#home-desktop{
			height: 840px;
			position: relative;
			overflow: hidden;
			.centralizar{
				position: relative;
				.links-social{
					top:5px;
					left:5px;
					position: absolute;
					font-size: 0;
					.inline;
					a{
						width:24px;
						height:24px;
						margin-right:5px;
						.inline;
						.transition;
						&:active, &:visited{}
						&:hover{}
					}
				}
				#navegacao-desktop{
					position: absolute;
					width: 100%;
					z-index: 99999999;
					li{
						.inline;
						.transition;
						position: absolute;
						padding-left:30px;
						overflow: hidden;
						background: url('../images/layout/over.png') -45px 3px no-repeat;
						&:hover{
							background: url('../images/layout/over.png') 3px 3px no-repeat;
						}
						a{
							display: block;
							line-height: 140%;
							padding:0 5px;
							text-align: center;
							text-decoration: none;
							color:@laranja;
							.pacifico(20px);
							.transition;
							&:active, &:visited{
								color:@laranja;
							}
							&:hover{color:@preto;}
						}
						&#li-home{
							top:35px;
							left:588px;
						}
						&#li-festas{
							top:155px;
							left:76px;
						}
						&#li-locacao{
							top:240px;
							left:40px;
						}
						&#li-enxoval{
							top:210px;
							left:710px;
						}
						&#li-roupinhas{
							top:285px;
							left:755px;
						}
						&#li-empresa{
							top:610px;
							left:690px;
						}
						&#li-contato{
							top:655px;
							left:760px;
						}
					}
				}
				#mensagem-home{
					padding-top:265px;
					height:600px;
					text-align: center;
					background:url('../images/layout/mundo1.png') center center no-repeat;
					z-index:999;
					position: relative;
					img{
						display: block;
						margin:0 auto 70px auto;
					}
					p{
						text-align: center;
						color:@preto;
						line-height: 160%;
						.pacifico(19px);
					}
				}
				#mensagem-home-back{
					padding-top:265px;
					height:600px;
					text-align: center;
					background:url('../images/layout/mundo2.png') center center no-repeat;
					z-index:9;
					position: absolute;					
					top:0;
					width: 100%;
					-webkit-animation: rotacionar 40s infinite linear;
					-moz-animation: rotacionar 40s infinite linear;
					-o-animation: rotacionar 40s infinite linear;
					animation: rotacionar 40s infinite linear;
				}
			}
		}
		.template{
			.pure-u-md-1-3{
				position:relative;
				.links-social{
					padding:10px;
					font-size: 0;
					.inline;
					a{
						width:24px;
						height:24px;
						margin-right:5px;
						.inline;
						.transition;
						&:active, &:visited{}
						&:hover{}
					}
				}
				.btn-abrir-menu{
					margin-right:30px;
					padding-left:30px;
					float:right;
					color:@laranja;
					text-decoration: none;
					margin-top: 0px;
					background:url('../images/layout/over.png') 2px 10px no-repeat;
					.pacifico(35px);
					&:active, &:visited{color:@laranja;}
					&:hover{}
				}
				nav{
					@media @mobile{
						display: block;
						width:100%;
						ul{
							padding:0;
							height:0;
							overflow: hidden;
							.transition;
							&.aberto{
								height:auto;
								padding:15px 0;
								li a{
									padding:12px 0;
								}
							}
							li{
								a{
									display: block;
									padding:0;
									text-align: center;
									color:@laranja;
									background: #fff;
									border:1px @laranja solid;
									text-decoration: none;
									span{
										.transition;
										padding-left: 30px;
										overflow: hidden;
										background:url('../images/layout/over.png') -40px 2px no-repeat;
									}
									.pacifico(18px);
									&:active, &:visited{}
									&:hover, &.ativo{
										span{
											background:url('../images/layout/over.png') left 2px no-repeat;
										}
									}
								}
							}
						}
					}
					@media @tablet{
						display: block;
						width:100%;
						ul{
							padding:30px 0;
							li{
								a{
									display: block;
									padding:12px 0;
									text-align: center;
									color:@laranja;
									text-decoration: none;
									span{
										.transition;
										padding-left: 30px;
										overflow: hidden;
										background:url('../images/layout/over.png') -40px 2px no-repeat;
									}
									.pacifico(18px);
									&:active, &:visited{}
									&:hover, &.ativo{
										span{
											background:url('../images/layout/over.png') left 2px no-repeat;
										}
									}
								}
							}
						}
					}
					@media @desktop{
						display: block;
						width:100%;
						ul{
							padding:30px 0;
							li{
								a{
									display: block;
									padding:12px 0;
									text-align: center;
									color:@laranja;
									text-decoration: none;
									span{
										.transition;
										padding-left: 30px;
										overflow: hidden;
										background:url('../images/layout/over.png') -40px 2px no-repeat;
									}
									.pacifico(18px);
									&:active, &:visited{}
									&:hover, &.ativo{
										span{
											background:url('../images/layout/over.png') left 2px no-repeat;
										}
									}
								}
							}
						}
					}
				}
			}
			.pure-u-md-2-3{
				section{
					@media @mobile{
						padding:30px 0;
						img{
							display: block;
							margin:10px auto;
							max-width: 100%;
						}
						p{
							text-align: center;
							color:@preto;
							line-height: 140%;
							margin:20px 0;
							.pacifico(18px);
						}
						.ilustracao{
							margin:20px 20px;
							img{
								max-width: 100%;
								display: block;
								margin:0 auto;
							}
						}
					}
					@media @tablet{
						padding:30px 0;
						img{
							display: block;
							margin:10px auto;
							max-width: 100%;
						}
						p{
							text-align: center;
							color:@preto;
							line-height: 140%;
							margin:20px 0;
							.pacifico(18px);
						}
						.ilustracao{
							margin:20px 0;
							img{
								max-width: 100%;
								display: block;
								margin:0 auto;
							}
						}
					}
					@media @desktop{
						padding:30px 0;
						img{
							display: block;
							margin:10px auto;
							max-width: 100%;
						}
						p{
							text-align: center;
							color:@preto;
							line-height: 140%;
							margin:20px 0;
							.pacifico(18px);
						}
						.ilustracao{
							margin:20px 0;
							img{
								max-width: 100%;
								display: block;
								margin:0 auto;
							}
						}
					}
					.listaImagens{
						@media @mobile{padding:20px 0;}
						@media @tablet{padding:30px 0;}
						@media @desktop{padding:40px 0;}
						min-height: 380px;
						font-size: 0;
						a.thumb{
							.inline;
							width:94px;
							height:94px;
							margin:3px;
							.pure-border{
								border:2px @laranja solid;
								img{
									max-width: 90px;
									max-height: 90px;
									margin:0;
								}
							}
						}
					}
					ul.pagination{
						text-align: center;
						margin:15px 0;
						li{
							min-width:20px;
							min-height:20px;
							line-height:17px;
							text-align: center;
							color:@preto;
							margin:0 2px;
							.inline;
							.arredondada(100%);
							.pacifico(18px);
							&.disabled{
								display:none;
								span{

								}
							}
							&.active{
								background:@laranja;
								span{

								}
							}
							a{
								.transition;
								.arredondada(100%);
								display: block;
								min-width:20px;
								min-height:20px;
								line-height:17px;
								text-decoration: none;
								color:@preto;
								background:transparent;
								&:active, &:visited{color:@preto;}
								&:hover{background:@laranja;}
								.force-laranja{
									.transition;
									color:@laranja;
									&:hover{color:@preto;}
								}
							}
						}
					}
					.textoEmpresa{
						padding:30px 0;
						min-height: 380px;
					}
					form{
						margin:0 auto;
						min-height: 380px;
						@media @mobile{width:98%}
						@media @tablet{width:68%}
						@media @desktop{width:50%}
						.success{
							color:@preto;
							display:block;
							text-align: center;
							padding:10px;
							background:#dff0d8;
							margin-bottom: 10px;
							border:1px @preto solid;
							.calibri(12px);
							.arredondada(7px);
						}
						input[type="text"],
						input[type="email"]{
							display:block;
							width:100%;
							box-sizing:border-box;
							border:2px @preto solid;
							padding:1px 10px;
							margin:0 0 5px 0;
							line-height: 184%;
							color:@preto;
							background:transparent;
							.placeholder(@preto);
							.pacifico(14px);
							.arredondada(7px);
						}
						textarea{
							display:block;
							width:100%;
							box-sizing:border-box;
							border:2px @preto solid;
							padding:1px 10px;
							margin:0 0 5px 0;
							line-height: 150%;
							color:@preto;
							background:transparent;
							resize:none;
							overflow:auto;
							height:110px;
							.placeholder(@preto);
							.pacifico(14px);
							.arredondada(7px);
						}
						input[type="submit"]{
							cursor:pointer;
							width:100%;
							border:2px @preto solid;
							display:block;
							text-align: center;
							color:@preto;
							background:@laranja;
							.arredondada(7px);
							.pacifico(14px);
						}
					}
					.telefone{
						text-align: center;
						color: #0b0b0b;
						line-height: 140%;
						margin: 20px 0;
						font-family: 'pacificoregular', sans-serif;
						font-size: 22px;
						font-weight: normal;
					}
				}
			}
		}
		#mundo-footer{
			display:block;
			width: 100%;
			height: 278px;
			margin-top:-40px;
			background:url('../images/layout/cidade.png') center bottom no-repeat;
			//background-size: 110% 278px;
		}
		#mundo-footer + footer{
			margin-top:0;
		}
		footer{
			position:relative;
			margin-top: 40px;
			min-height: 65px;
			padding: 15px 0;
			.pure-u-1{
				@media @mobile{ padding:5px 10px; box-sizing:border-box;}
			}
			background:@preto;
			color:#fff;
			line-height: 130%;
			.calibri(11px);
			.endereco{
				margin-top:10px;
			}
			.link{
				@media @mobile{}
				@media @mobile{}
				@media @desktop{ text-align: right; }				
				a{
					line-height: 110%;
					.calibri(10px);
					color:#fff;
					text-decoration: none;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@laranja;}
					img{margin-top: 3px;}
				}
			}
		}
	}
}

@-webkit-keyframes rotacionar {
	from { -webkit-transform: rotate(0deg) }
	to { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes rotacionar {
	from { -moz-transform: rotate(0deg) }
	to { -moz-transform: rotate(360deg) }
}
@-o-keyframes rotacionar {
	from { -o-transform: rotate(0deg) }
	to { -o-transform: rotate(360deg) }
}
@keyframes rotacionar {
 	from { -webkit-transform: rotate(0deg); transform: rotate(0deg) }
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg) }
}

@-webkit-keyframes transladarNuvem1 {
	0%{ left:4px; }
	50%{ left:600px; }
	100%{ left:4px; }
}
@-moz-keyframes transladarNuvem1 {
	0%{ left:4px; }
	50%{ left:600px; }
	100%{ left:4px; }
}
@-o-keyframes transladarNuvem1 {
	0%{ left:4px; }
	50%{ left:600px; }
	100%{ left:4px; }
}
@keyframes transladarNuvem1 {
	0%{ left:4px; }
	50%{ left:600px; }
	100%{ left:4px; }
}

@-webkit-keyframes transladarNuvem2 {
	0%{ left:95px; }
	50%{ left:450px; }
	100%{ left:95px; }
}
@-moz-keyframes transladarNuvem2 {
	0%{ left:95px; }
	50%{ left:450px; }
	100%{ left:95px; }
}
@-o-keyframes transladarNuvem2 {
	0%{ left:95px; }
	50%{ left:450px; }
	100%{ left:95px; }
}
@keyframes transladarNuvem2 {
	0%{ left:95px; }
	50%{ left:450px; }
	100%{ left:95px; }
}

@-webkit-keyframes transladarNuvem3 {
	0%{ right:4px; }
	50%{ right:600px; }
	100%{ right:4px; }
}
@-moz-keyframes transladarNuvem3 {
	0%{ right:4px; }
	50%{ right:600px; }
	100%{ right:4px; }
}
@-o-keyframes transladarNuvem3 {
	0%{ right:4px; }
	50%{ right:600px; }
	100%{ right:4px; }
}
@keyframes transladarNuvem3 {
	0%{ right:4px; }
	50%{ right:600px; }
	100%{ right:4px; }
}

@-webkit-keyframes transladarNuvem4 {
	0%{ right:450px; }
	10%{ right:600px; }
	80%{ right:200px; }
	100%{ right:450px; }
}
@-moz-keyframes transladarNuvem4 {
	0%{ right:450px; }
	10%{ right:600px; }
	80%{ right:200px; }
	100%{ right:450px; }
}
@-o-keyframes transladarNuvem4 {
	0%{ right:450px; }
	10%{ right:600px; }
	80%{ right:200px; }
	100%{ right:450px; }
}
@keyframes transladarNuvem4 {
	0%{ right:450px; }
	10%{ right:600px; }
	80%{ right:200px; }
	100%{ right:4px; }
}