.centralizar {
  width: 100%;
  padding: 0 !important;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .centralizar {
    max-width: 350px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .centralizar {
    max-width: 760px;
  }
}
@media only screen and (min-width: 1024px) {
  .centralizar {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
.pure-pad-5 {
  padding: 5px;
}
.pure-pad-10 {
  padding: 10px;
}
.pure-pad-15 {
  padding: 15px;
}
.pure-pad-20 {
  padding: 20px;
}
.pure-pad-25 {
  padding: 25px;
}
.pure-pad-30 {
  padding: 30px;
}
.pure-pad-35 {
  padding: 35px;
}
.pure-pad-40 {
  padding: 40px;
}
.pure-pad-t-5 {
  padding-top: 5px;
}
.pure-pad-t-10 {
  padding-top: 10px;
}
.pure-pad-t-15 {
  padding-top: 15px;
}
.pure-pad-t-20 {
  padding-top: 20px;
}
.pure-pad-t-25 {
  padding-top: 25px;
}
.pure-pad-t-30 {
  padding-top: 30px;
}
.pure-pad-t-35 {
  padding-top: 35px;
}
.pure-pad-t-40 {
  padding-top: 40px;
}
.pure-pad-r-5 {
  padding-right: 5px;
}
.pure-pad-r-10 {
  padding-right: 10px;
}
.pure-pad-r-15 {
  padding-right: 15px;
}
.pure-pad-r-20 {
  padding-right: 20px;
}
.pure-pad-r-25 {
  padding-right: 25px;
}
.pure-pad-r-30 {
  padding-right: 30px;
}
.pure-pad-r-35 {
  padding-right: 35px;
}
.pure-pad-r-40 {
  padding-right: 40px;
}
.pure-pad-b-5 {
  padding-bottom: 5px;
}
.pure-pad-b-10 {
  padding-bottom: 10px;
}
.pure-pad-b-15 {
  padding-bottom: 15px;
}
.pure-pad-b-20 {
  padding-bottom: 20px;
}
.pure-pad-b-25 {
  padding-bottom: 25px;
}
.pure-pad-b-30 {
  padding-bottom: 30px;
}
.pure-pad-b-35 {
  padding-bottom: 35px;
}
.pure-pad-b-40 {
  padding-bottom: 40px;
}
.pure-pad-l-5 {
  padding-left: 5px;
}
.pure-pad-l-10 {
  padding-left: 10px;
}
.pure-pad-l-15 {
  padding-left: 15px;
}
.pure-pad-l-20 {
  padding-left: 20px;
}
.pure-pad-l-25 {
  padding-left: 25px;
}
.pure-pad-l-30 {
  padding-left: 30px;
}
.pure-pad-l-35 {
  padding-left: 35px;
}
.pure-pad-l-40 {
  padding-left: 40px;
}
html body img {
  max-width: 100%;
}
html body p {
  font-family: 'pacificoregular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #0b0b0b;
  line-height: 130%;
  margin: 10px 0;
  text-align: center;
}
