@mobile:    ~"only screen and (min-width: 0px) and (max-width: 480px)";
@tablet:    ~"only screen and (min-width: 481px) and (max-width: 1023px)";
@desktop:   ~"only screen and (min-width: 1024px)";

@mobile_e_tablet:  ~"only screen and (min-width: 0px) and (max-width: 1023px)";
@tablet_e_desktop: ~"only screen and (min-width: 481px)";

@laranja:#E3C36B;
@preto:#0B0B0B;

.centralizar{
	@media @mobile{
		max-width:350px;
	}
	@media @tablet{
		max-width:760px;
	}
	@media @desktop{
		max-width:980px;
	}
	width:100%;
	padding:0 !important;
	margin:0 auto;
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.calibri(@fsize:12px, @fweight:normal){
	font-family: 'Calibri', 'Verdana', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.pacifico(@fsize:12px, @fweight:normal){
	font-family: 'pacificoregular', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-desktop{
	@media @desktop{
		display:none !important;
	}
}
.hide-tablet{
	@media @tablet{
		display:none !important;
	}
}
.hide-mobile{
	@media @mobile{
		display:none !important;
	}
}

.pure-pad-5{padding:5px;}
.pure-pad-10{padding:10px;}
.pure-pad-15{padding:15px;}
.pure-pad-20{padding:20px;}
.pure-pad-25{padding:25px;}
.pure-pad-30{padding:30px;}
.pure-pad-35{padding:35px;}
.pure-pad-40{padding:40px;}

.pure-pad-t-5{padding-top:5px;}
.pure-pad-t-10{padding-top:10px;}
.pure-pad-t-15{padding-top:15px;}
.pure-pad-t-20{padding-top:20px;}
.pure-pad-t-25{padding-top:25px;}
.pure-pad-t-30{padding-top:30px;}
.pure-pad-t-35{padding-top:35px;}
.pure-pad-t-40{padding-top:40px;}

.pure-pad-r-5{padding-right:5px;}
.pure-pad-r-10{padding-right:10px;}
.pure-pad-r-15{padding-right:15px;}
.pure-pad-r-20{padding-right:20px;}
.pure-pad-r-25{padding-right:25px;}
.pure-pad-r-30{padding-right:30px;}
.pure-pad-r-35{padding-right:35px;}
.pure-pad-r-40{padding-right:40px;}

.pure-pad-b-5{padding-bottom:5px;}
.pure-pad-b-10{padding-bottom:10px;}
.pure-pad-b-15{padding-bottom:15px;}
.pure-pad-b-20{padding-bottom:20px;}
.pure-pad-b-25{padding-bottom:25px;}
.pure-pad-b-30{padding-bottom:30px;}
.pure-pad-b-35{padding-bottom:35px;}
.pure-pad-b-40{padding-bottom:40px;}

.pure-pad-l-5{padding-left:5px;}
.pure-pad-l-10{padding-left:10px;}
.pure-pad-l-15{padding-left:15px;}
.pure-pad-l-20{padding-left:20px;}
.pure-pad-l-25{padding-left:25px;}
.pure-pad-l-30{padding-left:30px;}
.pure-pad-l-35{padding-left:35px;}
.pure-pad-l-40{padding-left:40px;}